// main.scss
@use 'variables' as *;
@use 'mixin';
@use 'fonts';

html {
  scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.section-header {
  @include mixin.section-header;
}

.description {
  @include mixin.description;
}

.arrow-button {
  @include mixin.arrow-button;
}


body {

  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $secondary-color;
  background-color: $bkg-color;
  margin: 0;
  padding: 0;
    -webkit-overflow-scrolling: touch;

  @media (max-width: 768px) {
    font-size: $font-size-base-mobile;
    line-height: $line-height-base-mobile;
      -webkit-overflow-scrolling: touch;
  }



  h1 {

    color: $light-color;
    font-family: $font-heading;
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    letter-spacing: $letter-spacing-base;


    @media (max-width: 768px) {
      font-size: $font-size-h1-mobile;
      line-height: $line-height-h1-mobile;
    }

  }

  h2 {


    font-family: $font-heading;
    font-size: $font-size-h2;
    letter-spacing: $letter-spacing-h2;
    color: $main-color;
    margin: -32px 0 0 0;
    padding: 0;

    @media (max-width: 768px) {
      font-size: $font-size-h2-mobile;
      margin: -22px 0 0 0;
    }
  }

  p,
  span {
    font-family: 'Circular-book', sans-serif;
    font-size: 18px;
    color: $secondary-color;
    letter-spacing: -1px;
    line-height: 1.8;
  }

  a {
    text-decoration: none;
    color: unset;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: $bkg-color;
  z-index: 100;

  .nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height-desktop;
    padding: 0 2rem;

    @media (max-width: 768px) {
      height: $header-height-mobile;
      padding: 0 1rem;
    }

    .nav-left,
    .nav-right {
      display: flex;
      gap: 1.5rem;
      padding: 0;

      @media (max-width: 768px) {
        display: none;
      }

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: $secondary-color;
          font-family: 'Circular-book', sans-serif;
          font-size: 15px;
          letter-spacing: -0.5px;

          @media (max-width: 768px) {
            font-size: $font-size-base-mobile;
          }

          &.active {
            color: $main-color;
            font-family: 'Circular-bold', sans-serif;
          }
        }
      }
    }

    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 100px;

        @media (max-width: 768px) {
          width: 70px;
        }

      }
    }

    .menu-toggle {
      display: none;
      font-size: 24px;
      cursor: pointer;
      color: $secondary-color;
      z-index: 101;

      @include mixin.respond-to(small) {
        display: block;
      }
    }

    .nav-mobile {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 44px;
      left: 0;
      width: 50%;
      background-color: $main-color;
      padding: 0;
      z-index: 100;
      opacity: 0.9;


      li {
        list-style: none;
        padding: 1rem;

        a {
          color: $secondary-color;
          text-decoration: none;
          font-family: 'Circular-book', sans-serif;
          font-size: $font-size-nav;

          &:hover {
            color: #ffffff;
          }

          &.active {
            color: #ffffff;
            font-family: 'Circular-bold', sans-serif;
          }
        }
      }

      &.open {
        display: flex;
      }
    }
  }
}

.slider-css {
  padding-top: $header-height-desktop;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  @media (max-width: 768px) {
    padding-top: $header-height-mobile;

  }

  .slides {
    display: flex;
    width: 100%; // importante: no pongas 500vw a mano
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    width: 100%;
    height: calc(100vh - #{$header-height-desktop});
    position: relative;
    flex-shrink: 0;

    @media (max-width: 768px) {
      height: calc(100vh - #{$header-height-mobile});

    }


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.4); // ajustá opacidad a gusto
      z-index: 1;
    }


    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }

    .text {
      position: absolute;
      bottom: 4rem;
      left: 2rem;
      color: white;
      max-width: 800px;
      z-index: 2;
      display: flex;
      flex-direction: row-reverse;
      gap: 2rem;

      @media (max-width: 768px) {
        flex-direction: column-reverse;
        max-width: 300px;
        align-items: flex-end;
        gap: 0.5rem;
        bottom: 1rem;
        right: 5rem;


      }


      h1 {
        max-width: 500px;
        line-height: 0.9;
        margin: 0;

        @media (max-width: 768px) {
          font-size: $font-size-h1-mobile;
          line-height: $line-height-h1-mobile;
          text-align: right;
        }
      }
    }
  }

  .navigation {
    position: absolute;
    top: $header-height-desktop; // o 60px si no usás la variable
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; // centra todo verticalmente
    align-items: center;
    pointer-events: none; // bloquea clics globalmente
    height: 100%;

    .brand {
      margin-bottom: 2.5rem;
      transform: rotate(270deg);
      color: white;
      font-family: 'Circular-book', sans-serif;
      font-size: 10px;
      white-space: nowrap;
      pointer-events: none; // no necesita clics
    }

    .linea {
      width: 1px;
      background-color: white;
      height: 180px;
      margin: 0.5rem 0;
      pointer-events: none; // solo decorativo
    }

    .numeration {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      pointer-events: auto; // ← Habilita los clics SOLO en esta parte

      label {
        font-family: 'Circular-book', sans-serif;
        font-size: 13px;
        color: white;
        cursor: pointer;

        @media (max-width: 768px) {
          font-size: $font-size-small-mobile;
        }

        &.active {
          font-family: 'Circular-bold', sans-serif;
          color: red;
        }
      }
    }
  }




}

.text-section {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 80px auto;
  padding: 4rem 0;

  @media (max-width: 768px) {
    margin: 0;
    padding: 2rem 1rem;
  }

  p {

    padding: 0;
    margin: 0;

    @media (max-width: 768px) {
      font-size: $font-size-base-mobile;
      line-height: $line-height-base-mobile;
    }


  }
}




.work {
  background: #ffffff;

  .work-container {
    padding: 4rem 2rem;

    @media (max-width: 768px) {
      padding: 2rem 1rem;

    }

    .work-image-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1.5rem 0;

.work-card-container {
  position: relative;
  width: calc(33.333% - 1.5rem);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  touch-action: pan-y; // ✅ permite mover verticalmente

  img {
    width: 100%;
    height: auto;
    -o-object-position: center;
    object-position: center;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.4s ease;

    &:hover {
      filter: grayscale(0%);
    }
  }
}

      @media (max-width: 768px) {


        flex-wrap: nowrap; // 🔑 Cambia a fila horizontal
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 1rem;
        padding: 1rem 0;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
        touch-action: pan-x; // permite swipe horizontal


        &::-webkit-scrollbar {
          display: none;
        }

        .work-card-container {
          min-width: 300px;
          scroll-snap-align: start;
          aspect-ratio: 1 / 1;

        }

      }
    }
  }


}



.clients {
  padding: 4rem 2rem;

  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }

  .clients-image-container {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $secondary-color;
    border-left: 1px solid $secondary-color;


    .client-cell {
      width: 20%; // 5 por fila en desktop
      aspect-ratio: 3 / 1; // proporcional, se puede ajustar
      border-right: 1px solid $secondary-color;
      border-bottom: 1px solid $secondary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      box-sizing: border-box;

      @media (max-width: 768px) {
        width: 33.3333%; // 3 por fila en mobile
        padding: 0.5rem;
      }

      img {
        max-width: 80%;
        max-height: 80%;
        width: auto;
        height: auto;
        object-fit: contain;
        display: block;
      }

    }
  }




}

.contact-section {
  padding: 4rem 2rem;
  background: #ffffff;


  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 2.5rem 0;

    @media (max-width: 768px) {
      padding: 0;

    }

    h2 {
      padding-bottom: 2rem;

      @media (max-width: 768px) {
        padding-bottom: 1rem;

      }
    }

    label {
      display: flex;
      flex-direction: column;
      color: $secondary-color;
      font-family: 'Circular-book', sans-serif;
      font-size: 1rem;
      padding-bottom: 1rem;

      @media (max-width: 768px) {
        font-size: 0.9rem;

      }

      input,
      textarea {
        border: none;
        background: $bkg-color;
        height: 60px;
        margin: 1.5rem 0;
        font-family: 'Circular-book', sans-serif;
        font-size: 1rem;
        resize: none;

        @media (max-width: 768px) {
          font-size: $font-size-base-mobile;
          height: 40px;
          margin: 0.5rem 0;

        }
      }

    }

    .primary-button {
      @include mixin.primary-button(next);
      font-family: 'Circular-bold', sans-serif;
    }

    .contact-link {
      display: flex;
      justify-content: space-between;
      align-items: self-start;

      span {
        color: $main-color;
      }

      .link-images {
        gap: 1rem;
        display: flex;
        align-items: center;

        img {
          height: max-content;
          display: inline;
          margin: 0 0 0 1rem;
        }
      }
    }
  }

  .popup {
    display: none; // ✅ Tiene que estar esto
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }


  .popup-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    color: $main-color;
  }

  .close-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: $main-color;
  }
}

.work-page-body {


  .work-page {
    background: #ffffff;
    height: 100vh;
    align-items: center;


    .text-section {
      height: 100%;
      justify-content: center;
      padding: 0;

      @media (max-width: 768px) {
        padding: 2rem 1rem;
      }

      .work-nav {
        width: 100%;

        .button-links {
          display: flex;
          justify-content: space-between;
          padding: 2rem 0;
          cursor: pointer;

          .work-button {
            display: flex;
            flex-direction: column;
            position: relative;

            &:hover {
              color: $main-color;
            }



            .section-header {
              margin-bottom: -6px;


            }

            a.link-with-arrow {
              @include mixin.primary-button;

              @media (max-width: 768px) {
                font-size: $font-size-base-mobile;
              }


              .arrow-circle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0.5rem;

                width: 24px; // ← el tamaño que quieras
                height: 24px;

                opacity: 0;
                visibility: hidden;
                transform: translateY(-10px);
                transition:
                  opacity 0.4s ease,
                  transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                  visibility 0.4s ease;


                img {
                  width: 100%;
                  height: auto;
                  transform: rotate(270deg);
                }
              }

              &:hover {

                color: $main-color;

                .arrow-circle {
                  opacity: 1;
                  visibility: visible;
                  transform: translateY(0);

                  img {
                    filter: none; // o un filter que use $main-color si el SVG no es editable
                  }
                }
              }
            }
          }
        }
      }
    }


  }

  .work-page-projects {
    &.grey {
      background: none;
    }

    .work-container {
      .work-image-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .work-card-container {
          &.on-page {
            overflow: visible;

            .work-card-description {
              display: flex;
              flex-direction: column;
              justify-content: left;
              gap: 0;

              span {
                line-height: 1.3;
              }

              .text {
                font-family: 'Circular-bold', sans-serif;
                color: $main-color;

                @media (max-width: 768px) {
                  font-size: $font-size-base-mobile;
                }
              }

              .line-2 {
                @media (max-width: 768px) {
                  font-size: $font-size-base-mobile;
                }
              }
            }
          }

          // ✅ SOLO para mobile
          @media (max-width: 768px) {
            min-width: calc(50% - 0.5rem); // 2 tarjetas por fila
            aspect-ratio: 1 / 1; // cuadradas
          }
        }
      }
    }
  }

}

.detail-page-body {
  .detail-main-image {
    height: calc(100vh - #{$header-height-desktop});
    width: calc(100% - 4rem);
    margin: auto;
    position: relative;
    margin-top: $header-height-desktop;


    @media (max-width: 768px) {
      height: calc(100vh - #{$header-height-mobile});
      width: calc(100% - 2rem);
    }


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); // ajustá opacidad a gusto
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.project {
      .text {

        bottom: 2rem;
        left: 2rem;
        position: absolute;
        z-index: 2;

        h1 {
          font-size: 50px;
          line-height: 1;
          margin: 0;

          @media (max-width: 768px) {
            font-size: $font-size-h1-detail-mobile;
            line-height: $line-height-h1-mobile;
          }
        }

        .number {
          color: #ffffff;

          @media (max-width: 768px) {
            font-size: $font-size-base;

          }

        }
      }
    }

  }

  .text-section {
    max-width: calc(100% - 12rem);
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      max-width: 100%;
      padding: 2rem !important;
    }

    .title {
      display: flex;
      flex-direction: row;
      margin: auto;
      gap: 2rem !important;

      @media (max-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 2rem !important;

      }

      .section-header {
        h2 {
          @media (max-width: 768px) {
            line-height: 1;
          }
        }

        .number {
          display: flex;
          flex-direction: row;
          align-items: inherit;
          gap: 0.3rem;
        }

        display: flex;
        flex-direction: column;
      }

      .description {
        &.dark {
          align-items: self-start;

          p,
          span {

            color: $main-color;
            text-align: left;

            span {
              font-family: 'Circular-black', sans-serif;
            }
          }
        }
      }
    }


  }
}

#project-content {
  .project-page {
    .text-section {
      padding: 0 4rem;

      h2 {
        margin: -22px 0 0 0;
        line-height: 1;
      }

      .title {
        align-items: anchor-center;
        margin: auto;
        padding-bottom: 0;
        padding-bottom: 4rem;
        justify-content: center;
        gap: 3rem;

        .number {
          line-height: 1.2;

        }

        .description {
          position: relative;

          &::before {
            content: "";
            width: 2px;
            background-color: $main-color;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -15px;
          }
        }

      }

      .text-description {
        line-height: 1.4;

        margin: auto;
        justify-content: center;
        align-items: center;
        align-self: center;

        .intro {

          font-family: 'Circular-black', sans-serif;
          margin: 2rem 0 0.5rem 0;
          font-size: 24px;
          color: $main-color;
        }

        .square {
          margin-right: 5px;
        }

        .with-colon {
          font-family: 'Circular-bold', sans-serif;
          color: $main-color;
          line-height: 3.5rem;

        }
      }

    }

  }

  .project-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    transform: translateY(-50%);


    .nav-button {
      align-items: center;

      &.all {
                     @include mixin.primary-button;
                             font-family: 'Circular-bold', sans-serif;
                                       @media (max-width: 768px) {
                                        display: none;
                                       }


      }

      &.prev {
        @include mixin.primary-button(prev);
        font-family: 'Circular-bold', sans-serif;
      }

      &.next {
        @include mixin.primary-button(next);
        font-family: 'Circular-bold', sans-serif;

        img {
          transform: rotate(180deg);
        }
      }
    }

  }
}

#lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: row;

  .gallery-img {
    max-width: 95vw;
    max-height: 95vh;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }

  .lightbox-arrow {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    padding: 1rem;

    .arrow {
      width: 24px;
      /* Puedes ajustar según necesidad */
      height: auto;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    }
  }

  #lightbox-prev {
    left: 2rem;
  }

  #lightbox-next {
    right: 2rem;

    .arrow {
      transform: scaleX(-1);
    }
  }
}

footer {
  background: $main-color;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2.5rem 0;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;

    img {
      max-width: 100px;
      margin: auto;
    }

    p {
      color: #ffffff;
      font-size: 16px;
      letter-spacing: 0;
    }
  }

  @include mixin.respond-to(small) {
    padding: 1.5rem 0;

    .footer-content {
      img {
        max-width: 80px;
      }

      p {
        font-size: 1px;
        text-align: center;
        padding: 0 1rem; // espaciado horizontal
      }
    }

  }
}